#body-overlay {background-color: rgba(0, 0, 0, 0.6);z-index: 999;position: absolute;left: 0;top: 0;width: 100%;height: 100%;display: none;}
#body-overlay div {position:absolute;left:50%;top:50%;margin-top:-32px;margin-left:-32px;}

plank{
	background-color: grey;
	height: 100%;
	width: 60%;
	position: fixed;
	z-index: 1;
	top: 0;
	/* padding-top: 20px; */
	left: 20%;
	text-align: center;
	overflow: hidden;
	padding: 10px 30px 30px 10px;
}

plank img{
	box-shadow: 0px 0px 50px #2e2e3cd6;
	position: relative;
	top: 0px;
	left: 0px;
	cursor: pointer;
}

controls{
	background-color: black;
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 2;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
	/* right: 0; */
	box-shadow: -10px 0px 25px #2e2e3cd6;
}

/* Immediate child div of controls */
controls>div{
	height: 100%;
	top: 0;
	width: inherit;
	padding: 10px;
	position: fixed;
}

.control-box{
	padding: 10px;
	border: 2px dashed grey;
	margin-bottom: 10px;
}

.control-row{
	display: inline-table;
}

.control-box button{
	width: 90px;
}

.control-row-single{
	display: inline-table;
	margin-bottom: 5px;
}
.control-row-single button{
	width: 205px;
	margin-left: 15px;
}

.control-row-single input{
	width: 210px;
	margin-left: 15px;
	margin-bottom: 5px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type=range]{
	width: 200px;
}

#blur_range, #sharp_range{
	cursor: pointer;
}

.control-box button:hover{
	color: white;
	background-color: green;
	box-shadow: 3px 3px 10px grey;
}
